<div class="home">
    <div class="home-jumbo">
        <a href="https://cgtfapt-laposte.fr/forms/7mBNqOrWieRx85dViG0QeV/rejoindre-la-campagne" class="arrow-button">
            <span>Rejoindre la campagne</span>
            <div>
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.96582 1.31495L0.522037 5.75873L4.96582 10.2025" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.9956 5.75867L0.521467 5.75867" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>               
            </div>
        </a>
        <div class="home-jumbo-content">
            <img class="" src="{{ (citipo_theme_asset_url('assets/logo-cgt-fapt.png')) }}">
            <p>Le site officiel de la CGT pour les élections du CSE<br>Du 9 au 14 octobre 2024</p>
            <h1> Avec la CGT, <br><span>transformons <br>La Poste</span></h1>
        </div>
        <div>

        </div>
        <div class="home-jumbo-punchline">
            <img class="" src="{{ (citipo_theme_asset_url('assets/punchline.png')) }}">
        </div>
    </div>

     <div class="bloc-recherche-filtre bloc-recherche-filtre-autre bloc-recherche-filtre-autre-hp">
        <a href="">
            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources.png')) }}">
        </a>
          <svg class="open-menu" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
               <circle cx="30" cy="30" r="29.5" stroke="#2D0F0C" stroke-opacity="0.4"/>
               <line x1="41.5" y1="38.5" x2="18.5" y2="38.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="30.5" x2="18.5" y2="30.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="22.5" x2="18.5" y2="22.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
          </svg>
        
        
     </div>    
<div data-controller="searchengine"
     data-searchengine-endpoint-value="https://search.citipo.com"
     data-searchengine-key-value="f5a718eda068f352cc86dc3aa9d3ab315c02eb28c6154fdccb0631d01f4eed16"
     data-searchengine-project-value="533af86c-e777-436a-93d2-2f5eb7a6965a"
     data-searchengine-type-value="post"
     data-searchengine-sort-value="date:desc"
     data-searchengine-limit-value="200">
     <div class="bloc-recherche-filtre">
        <a class="no-voir" href="">
            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
        </a>


                                <label class="label-filtre label-filtre-tri label-filtre-tri-check"> 
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="18" cy="18" r="17.5" stroke="white"/>
                                        <path d="M25.6368 17.6368H10.3632" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M18 25.2735V10" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                
                                    <input id="inputRech" type="radio" data-searchengine-target="categoryFilter" name="categoryFilter" checked="checked" value="" />
                                    <span>Tout voir </span>
                                </label> 

        <input type="text" data-searchengine-target="queryInput" class="form-control input-recherche" placeholder="Que recherchez-vous ?"/>
        <a href="https://cgtfapt-laposte.fr/forms/7mBNqOrWieRx85dViG0QeV/rejoindre-la-campagne" class="arrow-button arrow-button-dessous">
            <span>Rejoindre la campagne</span>
            <div>
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.96582 1.31495L0.522037 5.75873L4.96582 10.2025" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.9956 5.75867L0.521467 5.75867" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>               
            </div>
        </a>    
    </div>
    <template data-searchengine-target="resultTemplate">
        <div class="list-items-item">
            <a  href="/posts/<%= item.encoded_uuid %>/<%= item.metadata.slug %>"  class="streched-link list-items-item-link" data-turbo="optional">
                <div class="list-items-item-box">
                    <div class="row align-items-center align-items-center-flex">
                        <div class="col-md-2-img">
                            <svg width="89" height="38" viewBox="0 0 89 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4653 5.75305C20.5321 5.7725 20.6072 5.78682 20.683 5.80972C20.8073 5.84088 20.9402 5.8712 21.0911 5.90842C21.3882 5.979 21.7396 6.07457 22.1275 6.18824C22.908 6.41945 23.8538 6.7471 24.9152 7.15006C27.0302 8.00872 29.7466 8.81727 31.9844 10.2226C33.091 10.9113 34.17 11.8929 35.5895 12.5033C36.3038 12.8103 37.0381 12.9681 37.7095 13.0584C38.3908 13.1607 38.9925 13.1582 39.5804 13.1917C41.9214 13.305 43.7603 13.3765 44.5594 13.3547L55.6914 13.3321L61.2596 13.3207C62.1723 13.3094 63.1466 13.3528 64.2244 13.1695C64.7607 13.0738 65.3207 12.9108 65.8519 12.6293C66.3873 12.3475 66.8647 11.9587 67.2457 11.5144C68.0425 10.5834 68.445 9.51765 68.7239 8.51599C68.8649 8.00851 68.9685 7.51768 69.0627 7.0191C69.11 6.7503 69.166 6.43735 69.1498 6.04917C69.1319 5.60053 68.9705 5.10095 68.6625 4.74128C68.3755 4.37523 67.8443 4.124 67.5764 4.04191C67.2717 3.93743 67.0643 3.89708 66.8105 3.8266C66.3219 3.70113 65.8358 3.55807 65.3424 3.47204C64.3564 3.26525 63.3635 3.11977 62.3717 3.03048C58.3899 2.6574 54.4626 3.06285 50.6322 3.48483C48.7082 3.69451 46.1226 4.04681 43.3014 4.24889C40.4763 4.45569 37.3797 4.49847 34.4565 4.49832C31.5332 4.49818 28.7811 4.47697 26.6594 4.52409C24.5415 4.5665 23.0444 4.6695 22.6248 4.76248C21.967 4.90038 21.2112 5.54157 20.5515 5.35052C20.6094 5.36652 20.6801 5.38126 20.7423 5.39684C20.6822 5.40271 20.617 5.40042 20.5566 5.402C20.5549 5.38484 20.554 5.37626 20.5524 5.3591C20.562 5.28021 20.4888 5.19642 20.3866 5.25837C20.2251 5.3781 20.2258 5.65086 20.461 5.75347L20.4653 5.75305Z" fill="#2D0F0C" fill-opacity="0.1"/>
                                <path d="M87.0451 15.846C87.0451 15.846 87.0236 15.8481 87.0107 15.8493C87.0181 15.8356 87.0207 15.8181 87.0233 15.8005C87.0233 15.8005 87.0319 15.7996 87.0362 15.7992L87.0276 15.8001C87.0306 15.7868 87.0379 15.7731 87.0406 15.7555C87.0455 15.6727 87.0169 15.6019 86.9689 15.5979C85.6046 15.4194 82.4677 15.228 78.4382 14.9418C77.4262 14.8675 76.3499 14.7995 75.212 14.8111C74.0738 14.8184 72.9027 14.9328 71.7285 15.0606C70.5501 15.1887 69.3811 15.3246 68.1866 15.3764C66.9924 15.4325 65.7753 15.4301 64.5522 15.4111C54.7018 15.1655 44.79 14.9562 41.9286 14.924L37.5275 14.8691L37.01 14.8027L35.8738 14.6539L35.8223 15.8109C35.7708 16.9679 35.282 18.081 34.4538 19.0455C33.6393 20.0172 32.5729 20.8489 31.433 21.5926C30.297 22.3316 29.0418 23.0043 27.8021 23.7014C26.5611 24.3857 25.3107 25.0622 24.0539 25.7177C19.0283 28.3569 13.8913 30.7861 8.67149 33.0328C6.57266 33.9352 4.46274 34.8126 2.34131 35.6609L3.1203 37.6938C8.50472 35.6692 13.5079 33.0669 18.7415 31.1826C20.0335 30.7098 21.3746 30.2973 22.7223 29.8624L26.7502 28.581C29.4395 27.7379 32.1312 26.9205 34.8323 26.1541C38.0888 25.2209 42.526 24.0511 47.4622 23.023C52.3928 21.9825 57.8061 21.0507 62.9098 20.2314C68.0196 19.4289 72.8007 18.6759 76.4857 18.0949C80.1698 17.5053 82.7557 17.0664 83.474 16.8836C84.3486 16.6595 85.3062 16.1329 86.2394 15.9334C86.7005 15.91 86.9506 15.8985 86.9506 15.8985C86.972 15.8964 86.9922 15.8815 87.0069 15.8541C87.0197 15.8528 87.0283 15.852 87.0412 15.8507L87.0451 15.846Z" fill="#2D0F0C" fill-opacity="0.1"/>
                                <path d="M31.139 29.8367C27.6815 30.7506 24.2981 31.6702 21.5146 32.4792C20.1293 32.8831 18.8868 33.2427 17.8556 33.5471C16.829 33.8553 16.0156 34.1296 15.4786 34.351C14.8583 34.6065 14.5299 34.7469 14.5299 34.7469C14.5132 34.7528 14.5088 34.7966 14.5142 34.8524L14.5099 34.8528C14.5099 34.8528 14.5099 34.8528 14.5142 34.8524C14.5155 34.8652 14.5167 34.8781 14.5184 34.8953C14.5307 34.9763 14.5631 35.0425 14.5846 35.0404C14.805 35.0361 15.1229 35.0094 15.4995 34.9639C18.3554 35.3821 24.4095 35.1585 30.7052 34.8811C34.2357 34.7136 37.8438 34.5429 40.9951 34.3951C42.5809 34.3138 44.0104 34.2737 45.3487 34.1862C46.6828 34.0992 47.8979 33.8591 48.8109 33.4971C49.9008 33.0831 50.8536 32.375 51.6213 31.6331C52.4053 30.8809 53.0533 30.1116 53.7257 29.3703L59.8708 22.4989L48.6127 25.3531C45.2831 26.2025 38.0627 28.0081 31.1433 29.8363L31.139 29.8367Z" fill="#2D0F0C" fill-opacity="0.1"/>
                            </svg> 
                        </div>
                        <div class="">
                            <h2 class="list-items-item-title">
                                <span><%= item.title %></span>
                            </h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </template>

    <div data-searchengine-target="resultsList"></div>
</div>
</div>
