<div class="home">
    <div class="home-jumbo">
        <a href="" class="arrow-button">
            <span>Rejoindre la campagne</span>
            <div>
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.96582 1.31495L0.522037 5.75873L4.96582 10.2025" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.9956 5.75867L0.521467 5.75867" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>               
            </div>
        </a>
        <div class="home-jumbo-content">
            <img class="" src="{{ (citipo_theme_asset_url('assets/logo-cgt-fapt.png')) }}">
            <p>Le site officiel de la CGT pour les élections du CSE<br>Du 9 au 14 octobre 2024</p>
            <h1> Avec la CGT, <br><span>transformons <br>La Poste</span></h1>
        </div>
        <div>

        </div>
        <div class="home-jumbo-punchline">
            <img class="" src="{{ (citipo_theme_asset_url('assets/punchline.png')) }}">
        </div>
    </div>

     <div class="bloc-recherche-filtre bloc-recherche-filtre-autre bloc-recherche-filtre-autre-hp">
        <a href="">
            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources.png')) }}">
        </a>
          <svg class="open-menu" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
               <circle cx="30" cy="30" r="29.5" stroke="#2D0F0C" stroke-opacity="0.4"/>
               <line x1="41.5" y1="38.5" x2="18.5" y2="38.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="30.5" x2="18.5" y2="30.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
               <line x1="41.5" y1="22.5" x2="18.5" y2="22.5" stroke="#2D0F0C" stroke-opacity="0.6" stroke-linecap="round"/>
          </svg>
        
        
     </div>    
<div data-controller="searchengine"
     data-searchengine-endpoint-value="https://search.citipo.com"
     data-searchengine-key-value="f5a718eda068f352cc86dc3aa9d3ab315c02eb28c6154fdccb0631d01f4eed16"
     data-searchengine-project-value="d0d76def-fc33-4a96-92d2-280bb894c8c9"
     data-searchengine-type-value="post"
     data-searchengine-sort-value="date:desc"
     data-searchengine-limit-value="200">
     <div class="bloc-recherche-filtre">
        <a class="no-voir" href="">
            <img class="logo-cgt-fapt-ressources" src="{{ (citipo_theme_asset_url('assets/cgt-fapt-ressources-la-poste.png')) }}">
        </a>
        <div class="list-categories-items list-categories-items-none"></label><label class="list-categories-items-div input-last"><input type="radio" data-searchengine-target="categoryFilter" name="categoryFilter" value="Activités POSTALES" checked="checked" /><span>Activités POSTALES</span></label class="list-categories-items-div"></div><input type="text" data-searchengine-target="queryInput" class="form-control input-recherche" placeholder="Que recherchez-vous ?"/>
        <a href="" class="arrow-button">
            <span>Rejoindre la campagne</span>
            <div>
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.96582 1.31495L0.522037 5.75873L4.96582 10.2025" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.9956 5.75867L0.521467 5.75867" stroke="#860B10" stroke-width="0.931035" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>               
            </div>
        </a>    
    </div>
    <template data-searchengine-target="resultTemplate">
        <div class="list-items-item">
            <a  href="/posts/<%= item.encoded_uuid %>/<%= item.metadata.slug %>"  class="streched-link list-items-item-link" data-turbo="optional">
                <div class="list-items-item-box">
                    <div class="row align-items-center align-items-center-flex">
                        <div class="col-md-2-img">
                            <% if (item.metadata.image) { %>
                                <img src="https://content.citipo.com/serve/<%= item.metadata.image %>" class="list-items-item-image" width="1700" height="1080">
                            <% } %>
                        </div>
                        <div class="">
                            <h2 class="list-items-item-title">
                                <span><%= item.title %></span>
                            </h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </template>

    <div data-searchengine-target="resultsList"></div>
</div>
</div>
